extends layout

block content
  div.span12
    h1= title
    :markdown
      Welcome to the about page.

      This section is all markdown formatted. Though in the future I may add the ability to have this as a flat file as well for certain bits and pieces.
      Woo. 