extends layout

block content
  div.span8
    h1= title
    != body
  div.span4
    h3 About the Article
    each val, key in meta
      p
        #{key}: #{val}
    p
      a(href='/').btn Back to Article list