!!! 5
html
  head
    title #{settings.sitename} - #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    style(type='text/css')
      body{padding-top:60px;}
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') #{settings.sitename}
          ul.nav
            li
              a(href='/') Home
            li
              a(href='/page/about') About
    div.container
      div.row
        block content